<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmpe131.melotto16" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" /> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="control.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MeLotto"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".LoginActivity2"
            android:label="@string/title_activity_login2"
            android:parentActivityName=".MeLotto"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe131.melotto16.MeLotto" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ChooseLotto"
            android:label="@string/title_activity_choose_lotto"
            android:parentActivityName=".MeLotto" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe131.melotto16.MeLotto" />
        </activity>
        <activity
            android:name=".EnterInfo"
            android:label="@string/title_activity_enter_info"
            android:parentActivityName=".ChooseLotto" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe131.melotto16.ChooseLotto" />
        </activity>
        <activity
            android:name=".AddTicket"
            android:label="@string/title_activity_add_ticket"
            android:parentActivityName=".EnterInfo" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe131.melotto16.EnterInfo" />
        </activity>
        <activity
            android:name=".AddPhoto"
            android:label="@string/title_activity_add_photo" >
            android:parentActivityName=".AddTicket" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe131.melotto16.AddTicket" />
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/title_activity_view"
            android:parentActivityName=".MeLotto" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe131.melotto16.MeLotto" />
        </activity>
        <activity
            android:name=".ViewCalendar"
            android:label="@string/title_activity_view_calendar"
            android:parentActivityName=".MeLotto" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cmpe131.melotto16.MeLotto" />
        </activity>
    </application>

</manifest>
